.favorite-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background: #130a3e;
    border: 1px solid rgb(33, 65, 104);
    align-items: center;
    border-radius: 3px;
}
.favorite-section:hover{
    box-shadow: none;
}
.loc-profile{
    cursor: pointer;
}
.favorite-section input:focus{
    outline: none;
}
.adress-picture{
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    gap: 25px;
}
.adress-name{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.adress-name div input{
    width: 100%;
    padding: 5px;
    color: #fff;
    border: 1px solid rgb(33, 65, 104);
}
#file-loc{
    display: none;
}
.loc-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 10px;
    border-radius: 2px;
    overflow: hidden;
}
.loc-profile img{
    width: 200px;
    height: auto;
    border-radius: 4px;
}
@media only screen and (max-width: 600px){
    .loc-profile{
        width: 45%;
    }
    .loc-profile img{
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 4px;
    }
    .adress-name{
        width: 55%;
    }
}
.c-div {
    width: 100%;
    display: flex;
    align-items: center;
}
.c-div input{
    flex: 1;
}
.c-div label{
    flex: 10;
    color: #fff;
    opacity: 0.8;
}
.check{
    width: 100%;
    display: flex;
    align-items: center;
    gap:20px;
}
.check select{
    background : none;
    padding: 8px 20px;
    color: #fff;
    background-color: #180e4b;
    border: 1px solid rgb(33, 65, 104);
}
.other-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.other-info input{
    width: 100%;
    padding: 8px;
    color: #fff;
    border: 1px solid rgb(33, 65, 104);
}
.other-info select{
    width: 100%;
    padding: 8px;
    color: #fff;
    border: 1px solid rgb(33, 65, 104);
    background-color: #180E4B;
    opacity: 0.6;
}
.other-info button{
    width: 100%;
    border: 1px solid transparent;
    padding: 5px;
    letter-spacing: 0.15rem;
    border-radius: 3px;
    color: #fff;
    background-color: rgb(33, 65, 104);
    transition: all 0.5s ease;
}
.other-info button:hover{
    background: none;
    border-color: rgb(33, 65, 104);
}

