@font-face {
    font-family: danss ;
    src: url('../utility/fonts/DancingScript-Bold.ttf');
}
.home-header{
    width: 100vw;
    padding: 5px 25px;
}
.user-box{
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #130a3e;
    z-index: 5;
    top:0;
    left: 0;
    width: 300px;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
}
.user-box ul{
    display: flex;
    flex: 1;
    padding: 30px 0;
    flex-direction: column;
    gap: 45px;
    list-style-type: none;
}
.user-box ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-left: 12px solid #22136d;
    border-radius: 8px;
    font-size: 0.8rem;
    gap: 15px;
    color: whitesmoke
}
.user-box ul li a:hover{
    background: #22136d;
}
.user-box ul li span{
    background: transparent;
}
.home-header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.zero-head{
    flex: 1;
}
.first-head{
    text-align: center;
    padding-bottom: 3px;
    flex: 3;
}
.sec-head{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    flex: 1;
}
#contact{
    flex: 1;
}
.home-nav{
    color: whitesmoke;
    flex: 1;
    text-align: center;
    border-radius: 4px;
    padding: 3px 15px;
    background: rgb(26, 26, 77) ;
}
.nav-head h2{
    color: whitesmoke;
    font-family: danss;
    font-size: 3rem;
}
.nav-head h2 span{
    padding-left: 10px;
    font-family: danss;
    color: darkred;
    font-size: 3rem;
}
.head-link{
    display: flex;
    align-items: center; 
    gap: 50px;  
}
@media only screen and (max-width: 600px){
    .head-link{
        width: 100%;
        justify-content: space-between;
    }
  }
.home-nav:hover {
    box-shadow: 3px 4px 10px red;
    transition: all 0.4s ease;
}
.info-group-user{
    display: flex;
    align-items: center;
    gap: 8px;
    border-left: 1px solid darkred;
    border-bottom: 1px solid whitesmoke;
    padding: 8px  15px;
    border-radius: 3px;
}
.home-header nav .username-info {
    color: whitesmoke;
    cursor: default;
    padding-left: 5px;  
}
.location-form{
   margin: 2px auto;
}
.location-form h3{
    color: whitesmoke;
    font-family: danss;
    font-size: 2.2rem;
    text-align: center;
}
.location-form h3 span{
    font-size: 1.8rem;
    color:darkred;
    padding-left: 15px;
}
.location-form .hrr{
    width: 250px;
    margin-top: 5px;
    margin: 0 auto;
    opacity: 0.4;
}
.location-form form {
    margin-top: 30px;
    margin-right: 25px;
    margin: 10px auto;
    width: 260px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.location-form form div{
  display: flex;
  flex:1;
}

.city-select,.town-select {
    background: #130a3e;
    border: 1px solid darkred;
    color: whitesmoke;
    flex: 1;
    border-radius: 2px;
    padding: 5px 30px;
}

.location-form div input{
    color: whitesmoke;
    flex: 1;
    border-radius: 2px;
    border-bottom: 1px solid darkred;
    padding: 3px 15px;
}
.location-form div input:focus{
    outline: none;
}
.location-form form button {
    color: whitesmoke;
    font-family: danss;
    margin-top: 10px;
    background: rgb(26, 26, 77);
    font-size: 1.4rem;
    padding: 3px 30px;
    opacity: 0.8;
    border:1px solid transparent;
    border-radius: 4px;
}
.location-form form:hover{
    box-shadow: none;
}
.location-form form button:hover{
    opacity: 1;
}
.location-form form div select {
    color: whitesmoke;
    opacity: 0.8;
}
.toast-cont {
    color: darkred;
}