.block-map{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0 ,0,0.8);
}
.popup-map{
    flex: 0.4;
    height: 400px;
}
.popup-map h3 {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}
.x-mark{
    padding: 5px;
    background: none;
    color: #fff;
}
.x-mark:hover{
    color: #000;
    border-radius: 2px;
    background-color: #fff;
}
@media only screen and (min-width: 600px) and (max-width: 1000px){
    .popup-map{
        flex: 0.45;
        height: 250px;
    }
}
@media only screen and (max-width: 600px){
    .block-map{
        position: fixed;
        width: 100vw;
        height: 100vh;
        top:0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0 ,0,0.9);
    }
    .popup-map{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        flex: 1;
        height: auto;
    }
  }
.close-map{
    cursor:pointer;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 2px;
    align-items: center;
}
.pop-p{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.pop-p li {
    list-style-type: none;
    color: red;
}
.pop-p li span {
    font-size: 0.7rem;
    color: #fff;
}