.popup-container{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    filter: blur(0.5);
}
.popup-preview{
    position: fixed;
    top:40%;
    left: 50%;
    padding: 20px 0;
    width: 450px;
    background:#222222;
    border: 1px solid transparent;
    border-radius: 8px;
    transform: translate(-50%,-50%);
}
.popup-preview h1{
    color: whitesmoke;
    font-family: danss;
    text-align: center;
    font-size: 2.4rem;
    padding-bottom: 15px;
    font-weight: bold;
}
.feedback-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback-form form{
    flex: 0.8;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.feedback-form form:hover{
    box-shadow: none;
}
.feedback-form form textarea:focus{
    outline: none;
}
.feedback-form form input:focus{
    outline: none;
}
.feedback-form form input{
    padding: 5px;
    color: whitesmoke;
    border-bottom: 1px solid darkred;
}
.feedback-form form textarea{
    background: none;
    color: whitesmoke;
    border-bottom: 1px solid darkred;
}
.feedback-form form button{
    color: whitesmoke;
    padding: 4px;
    border-radius: 4px;
    background: #454545;
}
.feedback-form form button:hover{
    background: #545454;
    transition: all 0.4s ease;
}
.close-icon:hover {
    color: whitesmoke;
}
.google-maps{
    width: 100%;
    text-align: center;
    margin: 2px 0;
    font-size: 0.8rem;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: #1E8CBE;
    color: #fff;
}