.station-table {
  padding:4rem 0;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: rgb(26, 26, 77);
}
.filter-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: .8rem;
}
.filter-table .in{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.filter-table h2{
  color: red;
  font-family: danss;
  letter-spacing: 0.3rem;
  font-size: 1.8rem;
  font-weight: 600;
}
.filter-table .in input{
  padding: 5px 6px;
  border-radius: 3px;
  border-bottom: 1px solid darkred;
  color: whitesmoke;
}
.filter-table .in input:focus{
  outline: none;
}
.filter-table .in select{
  background: #130a3e;
  border-radius: 3px;
  color: whitesmoke;
  opacity: 0.7;
  padding: 5px 6px;
}
@media only screen and (max-width: 600px){
  table,
  th,
  tr,
  td {
    border: 1px solid #3b3072;
    border-collapse: collapse;
    padding: 3px 5px;
    font-size: 0.33rem;
    color: whitesmoke;  
    }
  
   table td {
    text-align: center;
  }
  table tbody,
  tr,
  td {
    background: rgb(26, 26, 77);
  }
  table th,
  td {
    opacity: 0.7;
    cursor: default;
  }
  table th:hover,
  td:hover {
    opacity: 0.9;
  }
  th {
    color: red;
    cursor: default;
  }
  .station-table .table-divv {
    max-height: 600px;
    overflow: auto;
  }
  .td-btn {
    background: #201558;
    cursor: pointer;
  }
  .td-btn:hover {
    background: #281d5f;
    transition: all 0.4s ease;
  }
  .td-btn a {
    padding: 3px 10px;
  }
}
 table {
  box-shadow: 1px 2px 3px rgb(26, 26, 77);
}
@media only screen and (min-width: 600px){
table,
th,
tr,
td {
  font-size: 0.8rem;
  border: 1px solid #3b3072;
  border-collapse: collapse;
  padding: 10px 20px;
  color: whitesmoke;  
  }

table td {
  text-align: center;
}
table tbody,
tr,
td {
  background: rgb(26, 26, 77);
}
table tbody tr:hover{
  background-color: #130a3e;
}
table th,
td {
  opacity: 0.7;
  cursor: default;
}
table th:hover,
td:hover {
  opacity: 0.9;
}
th {
  color: red;
  cursor: default;
}
.station-table .table-divv {
  max-height: 600px;
  padding: 2px 10px;
  overflow: auto;
}
.td-btn {
  background: #201558;
  cursor: pointer;
}
.td-btn:hover {
  background: #281d5f;
  transition: all 0.4s ease;
}
.td-btn a {
  padding: 5px 15px;
}
}
.info-catch {
  margin: 25px 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.table-info-btn {
  padding: 2px 25px;
  font-family: danss;
  font-size: 1.1rem;
  opacity: 0.7;
  border:1px solid transparent;
  background:#281d5f;
  border-radius: 4px;
  color: whitesmoke;
}
.table-info-btn:hover {
  opacity: 1;
  transition: all 0.5s ease;
}
.sort-btn{
  color: whitesmoke;
  opacity: 0.8;
  border: 1px solid transparent;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 4px;
  background:#130a3e;
}
@media only screen and (min-width: 600px){
  .sort-btn:hover{
    border-color: red;
    opacity: 1;
  }
}
@media only screen and (max-width: 600px){
  .sort-btn:active{
    opacity: 1;
    border-color: red;
  }
}