::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: rgb(26, 26, 77);
}
::-webkit-scrollbar-thumb {
  background: #24185e;
}
.btn-try {
  background-color: #22136d;
  margin: 0 0.75rem;
  color: whitesmoke;
  padding: 0.75rem 3rem;
  border-radius: 4px;
  letter-spacing: 0.1em;
}
.btn-try:hover {
  border-color: whitesmoke;
  background-color: #22136d;
  letter-spacing: 0.2rem;
  transition: all 0.5s ease;
}
.top-link {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 20px 45px;
  justify-content: flex-end;
  background-color: rgb(26, 26, 77);
  gap: 45px;
}
.top-link a {
  color: whitesmoke;
  letter-spacing: 0.09rem;
  text-decoration: none;
}
.top-link a:hover {
  text-decoration: underline;
  transition: all 0.5s ease;
}
.top-link #signUp {
  background: #22136d;
  padding: 4px 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.leaflet-container {
  width: 100%;
  height: 750px;
}
.leaflet-control-zoom .leaflet-control-zoom-in span,
.leaflet-control-zoom-out span {
  background: #fff;
}
.leaflet-control-container .leaflet-top,
.leaflet-left {
  background: none;
}
.leaflet-routing-alt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leaflet-routing-alt h2,
h3 {
  font-size: 0.7rem;
  color: red;
  font-weight: 700;
}
.leaflet-routing-alt h3 {
  padding-bottom: 5px;
}
.leaflet-routing-alt table {
  width: 100%;
}
.leaflet-routing-alt table tr {
  font-size: 0.6rem;
  padding: 0;
}
.leaflet-routing-alt table td {
  padding: 3px 5px;
}
.leaflet-routing-icon {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
}
.leaflet-touch .leaflet-control-geocoder-icon {
  background-image: url("./utility/images/find.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home-main {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.class-map {
  z-index: 0;
  flex: 1;
}
.location-form {
  flex: 1;
}
.button-location {
  padding: 0;
}
.leaflet-left .leaflet-control-zoom {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.leaflet-left .leaflet-control-zoom span {
  cursor: pointer;
  background: none;
}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: none;
}
.leaflet-marker-pane .leaflet-marker-draggable {
  display: none;
}
.get-location {
  background-color: #fff;
  border-radius: 3px;
  color: gray;
  padding: 4px 2px;
  cursor: pointer;
}
.leaflet-popup-content-wrapper {
  background: #130a3e;
  color: white;
}
.leaflet-marker-pane img {
  background: none;
}
select:focus {
  outline: none;
}
.map-style {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 3px 10px;
  justify-content: flex-end;
  gap: 15px;
}
.map-style h3 {
  color: darkred;
  font-family: danss;
  font-size: 1.1rem;
}
.map-style select {
  background: #130a3e;
  color: whitesmoke;
  border-bottom: 1px solid darkred;
  padding: 4px;
  opacity: 0.8;
}
.map-container .pops {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 2px 5px;
}
.pops h3 {
  color: red;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
}
.pop-img {
  width: 100%;
  height: 80px;
  overflow: hidden;
}
.pop-img img {
  object-fit: cover;
}
.pops .detail {
  display: flex;
  align-items: center;
  gap: 5px;
}
.pops span {
  color: whitesmoke;
  font-size: 0.7rem;
  font-weight: bold;
}
.home-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid rgb(26, 26, 77);
}
.home-footer p {
  background: none;
  color: whitesmoke;
  opacity: 0.8;
  font-size: 0.9rem;
}
.social-link {
  display: flex;
  align-items: center;
  gap: 20px;
}
.social-link a {
  border-radius: 5px;
  padding: 3px 10px;
}
.bg-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 45px 0;
  margin-top: 2rem;
  column-gap: 8rem;
  row-gap: 6rem;
  flex-wrap: wrap;
}
.stations {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.stations h2 {
  font-size: 3rem;
  font-family: danss;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid whitesmoke;
  letter-spacing: 0.2rem;
  color: red;
}
.stations .cards-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(26, 26, 77);
  margin-top: 1rem;
  gap: 40px;
}
.stations .cards-block .station-card {
  display: flex;
  flex-basis: 300px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  gap: 8px;
  background-color: #130a3e;
}
.station-card .img-card {
  width: 100%;
  overflow: hidden;
}
.station-card .img-card img{
  width: 100%;
  height: 190px;
}
.station-card .img-card img:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
}
.station-card h3 {
  color: red;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.station-card p {
  color: #fff;
  padding: 2px 25px;
  font-size: 0.65rem;
  letter-spacing: 1px;
  opacity: 0.8;
}
.station-card a {
  letter-spacing: 0.5px;
}
.fixed-social {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  padding: 0;
  gap: 15px;
  top: 40%;
  left: 0;
  width: 38px;
  background-color: #22136d;
}
.fix-social {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px;
}
.fix-social:hover {
  background-color: #000;
}
@media only screen and (min-width: 600px) {
  .stations .cards-block {
    width: 85%;
    padding: 4rem;
  }
  .social-link a:hover {
    background: #22136d;
  }
}
@media only screen and (max-width: 600px) {
  .leaflet-container {
    width: 100%;
    height: 540px;
  }
  .home-footer {
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .social-link a:active {
    background: #22136d;
  }
  .stations .cards-block {
    padding: 4rem 3rem;
  }
}
